<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ming.test.xface.dao.FriendshipMapper">

    <resultMap id="BaseResultMap" type="ming.test.xface.enity.pojo.Friendship">
        <id property="userid" column="userId" jdbcType="INTEGER"/>
        <id property="friendid" column="friendId" jdbcType="INTEGER"/>
        <result property="friendname" column="friendName" jdbcType="VARCHAR"/>
        <result property="friendnickname" column="friendNickName" jdbcType="VARCHAR"/>
        <result property="friendstatus" column="friendStatus" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId
        ,friendId,friendName,
        friendNickName,friendStatus,status,
        createTime,updateTime
    </sql>
</mapper>
