<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ming.test.xface.dao.GroupmemberMapper">

    <resultMap id="BaseResultMap" type="ming.test.xface.enity.pojo.Groupmember">
        <id property="groupid" column="groupId" jdbcType="INTEGER"/>
        <id property="userid" column="userId" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="nickname" column="nickName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        groupId
        ,userId,status,
        createTime,updateTime,nickName
    </sql>
</mapper>
